.portfolioContainer{
    padding-top:90px;
    position: relative;
    right:80px;
}

.portfolioContainerDos{
    padding-top:90px;
    position: relative;
    right:180px;
}


.titlesPortfolio {
    display: flex;

}

.titlesPortfolio div {
    font-weight: 700;
    width: 150px;
    height:40px;
    text-align: center;
}

.criptosPortfolio{
    display: flex;
    padding-bottom:20px;
   

}

.criptosValor{
    padding-bottom:20px;
}

.criptosPortfolio div {
    width: 150px;
    height:40px;
    text-align: center;

}

.botonComprar {
    position:relative;
    left:290px;
}