.registerContainer{
    padding:150px 0px;
}

.firstContent{
        display: flex;
        justify-content: center;
}

.firstContent p{
    font-size: 30.5px;
    font-weight: 700;
    line-height: 55px;
}

.secondContent h2{
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 700;

}

.secondContent p{
    font-size: 28px;
}

@media all and (max-width:790px) {

    .firstContent {
        padding-bottom:20px;
    }
    .firstContent p{
        font-size: 25px;
        line-height:normal;
    }

    .secondContent {
        
        padding-left: 70px;
        padding-right: 60px;
    }

    .secondContent h2{
        font-size: 18px;
    }

    .secondContent p{
        font-size: 15px;
    }
}